In [6]:
import pandas as pd

In [3]:
from pycaret.classification import *
from pycaret.datasets import get_data

In [9]:
# 예제 데이터셋 로드
X = pd.read_csv("./data/frequency_based_encoding_X.csv")
y = pd.read_csv("./data/label_encoded_y.csv")

In [11]:
y

      SUBCLASS
0            8
1           19
2           20
3            9
4            6
...        ...
6196        13
6197        11
6198         4
6199        22
6200        20

[6201 rows x 1 columns]

In [14]:
# 환경 설정
setup_clf = setup(data=X, target=y["SUBCLASS"], session_id=123,
                  normalize=True,  # 정규화 (Min-Max 스케일링)
                  transformation=True,  # 분포 변환 (예: Box-Cox)
                  normalize_method='minmax')  # 정규화 방법 지정

In [15]:
best_models = compare_models()